extends layout

block content

    h2 Home
    form.well(method='POST' action='/categories')
      div.form-group
        input.form-control(name='name' placeholder='enter a CATEGORY name...')
      div.form-group
        button.btn.btn-primary Add Category
