html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Acme Products Categories - Express Demo')
    meta(name='author' content='Colin FitzGerald')
    title Acme Products: Categories

    <!-- Bootstrap core CSS -->
    link(href='/vendor/bootstrap/dist/css/bootstrap.css' rel='stylesheet')
    <!-- Custom styles -->
    link(href='/stylesheets/style.css' rel='stylesheet')
    <!-- Google Fonts -->
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet')

    body
      div.container
        div.page-header
          h1 Acme Products #[small Categories!]

        ul.nav.nav-tabs
          li(class = (navegory === 'home'  ? 'active' : ''))
            a(href='/') Home
          each categoryName in categoryNames
            li(class = (category === categoryName  ? 'active' : ''))
              a(href='/categories/' + categoryName + '/products') #{categoryName}

        block content
