extends layout

block content

    h2 #[small Products for Category:] #{category}
    form.well(method='POST')
      div.form-group
        input.form-control(name='name' placeholder='enter a PRODUCT name...')
      div.form-group
        button.btn.btn-primary Add Product

    ul.list-group
      each product in products
        li.list-group-item
          h4.product-name #{product.name}
          form(method='POST' action='/categories/' + category + '/products/' + product.id + '?_method=DELETE')
            button.btn.btn-warning Delete

    form(method='POST' action='/categories/' + category + '?_method=DELETE')
      button.btn.btn-danger Delete Category
